/*************************************************************
	Main Styles
*************************************************************/
* {
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: #FFFFFF;
	color: #000000;
	/* background-color: #222222;
	color: #DDDDDD; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

a:link, a:visited, a:hover, a:focus, a:active {
	color: #222222;
	/* color: #DDDDDD; */
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

#Viewport {
	width: 100vw;
	min-height: 100vh;
}

/*************************************************************
	Navigation
*************************************************************/
#TopBar {
	width: 100vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-left: 1vw;
	padding-right: 1vw;
	line-height: 5em;
}

#TopBar ul {
	list-style: none;
	padding-left: 0;
}

#TopBar ul li {
	display: inline-block;
}

#TopBar ul li a {
	padding: 1.2em;
}

/*************************************************************
	Main Body
*************************************************************/
#ContentContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	min-height: 35vh;
}

#ImageLogo {
}

#SearchContainer {
	max-width: 60vw;
	border: 1px solid #DDDDDD;
	border-radius: 15px;
}

#SearchBar {
	background-color: transparent;
	padding: 0;
	width: 100%;
	border: 0 solid #000000;
}